@model IEnumerable<MiAsistenteOnline.Web.Data.Entities.Product>

@{
    ViewData["Title"] = "Categoria";
}








<div class="container-fluid">


    <div class="row">
        <div class="col-lg-2">
            <div class="list-group" role="tablist">

                @foreach (var item in Model)
                {

                    var parms = new Dictionary<string, string>
                        {
                            { "GrupoArticulo", item.GrupoArticulo },

                         };

                    //<a asp-route="buscarProductos" asp-all-route-data="parms"  class="btn btn-primary btn-lg">@Html.DisplayFor(modelItem => item.GrupoArticulo)</a>
                    //<button class="btn btn-primary btn-lg btn-block" onclick="getDataAjax('@item.GrupoArticulo','BusProductos')">@Html.DisplayFor(modelItem => item.GrupoArticulo)</button>

                    <a class="list-group-item list-group-item-action" role="tab" data-toggle="list" onclick="getDataAjax('@item.GrupoArticulo','BusProductos')"><div class="let"><p>@Html.DisplayFor(modelItem => item.GrupoArticulo)</p></div></a>
                }



            </div>
        </div>
        <div class="col-lg-7">
            <div id="productosCategoria"></div>
        </div>

        <div class="col">
            <div id="Carrito">
                <div class="card border-info mb-3" style="max-width: 28rem;">
                    <div class="card-header bg-transparent border-success">
                        Señor Gomez buen dia!
                    </div>
                    <div class="card-body text-info" >
                        <div class="container-fluid">
                            <table class="table table-hover table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody id="descripcionCompra"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent border-success"> <center><h3 id="total">Total : S/. 0.00 </h3> </center></div>
                </div>

            </div>
        </div>



    </div>

</div>







